.exercise-sub-container {
  margin-left:20px;
}

#workout_title {
  margin-top:20px;
  margin-bottom:;
}

#workout_display {
  font-size:16px;
}

#workout_display dt {
  height:20px;
}

#workout_display dd {
  height:20px;
}