.exercise-sub-container {
  margin-left:20px;
}

#workout_title {
  margin-top:20px;
}

#workout_display {
  font-size:16px;
}

#workout_display dd {
  height:20px;
}

#twitter-button a {
  text-decoration:none;
  color:black;
}

.icon-twitter {
  background-image: url(https://platform.twitter.com/widgets/images/btn.0329694f6eeec0460469a1cdbd285167.png);
  background-position: -24px 0px;
  width:21px;
  margin-right:3px;
}