.exercise-sub-container {
  margin-left:20px;
}

#workout_title {
  margin-top:20px;
}

#workout_display {
  font-size:16px;
}

#workout_display dd {
  height:20px;
}

.fb-like {
  position: relative;
  left: 20px;
  top:5px;
}